@mixin flex($flex-direction, $align, $justify) {
    display: flex;
    @if $flex-direction != none {
       flex-direction: $flex-direction;
    } 
    @if $align != none {
      align-items: $align;
    } 
    @if $justify != none {
      justify-content: $justify;
    } 
  }